$app-basecolor: #f22649;
$app-orange: #fd5d40;
$app-green: #00cc5f;
$app-blue: #00aaec;


$b-3: rgba(0, 0, 0, 0.30);
$b-5: rgba(0, 0, 0, 0.50);
$b-6: rgba(0, 0, 0, 0.60);
$b-7: rgba(0, 0, 0, 0.70);
$b-8: rgba(0, 0, 0, 0.80);
$b-9: rgba(0, 0, 0, 0.90);
$b-10: rgb(0, 0, 0);

$w-3: rgba(255, 255, 255, 0.30);
$w-5: rgba(255, 255, 255, 0.50);
$w-6: rgba(255, 255, 255, 0.60);
$w-7: rgba(255, 255, 255, 0.70);
$w-8: rgba(255, 255, 255, 0.80);
$w-9: rgba(255, 255, 255, 0.90);
$w-10: rgb(255, 255, 255);


$app-min-width: 1200px;




